#main-page {
    background-color: rgb(22, 21, 21);
}

#series-summary {
    color: rgb(239, 236, 236);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 80px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-left: 20px;
    border-left: 2px solid #e92e2e;
}

#player-search-intro {
    color: rgb(239, 236, 236);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 150px;
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-left: 20px;
    border-left: 2px solid #e92e2e;
}

#conclusion {
    color: rgb(239, 236, 236);
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin-top: 130px;
    margin-bottom: 80px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-left: 20px;
    border-left: 2px solid #e92e2e;
}

@media (max-width: 1300px) {
    #series-summary {
        font-size: 1.25rem;
        line-height: 2.rem;
        margin: 60px;
    }
    #player-search-intro {
        font-size: 1.25rem;
        line-height: 2.rem;
        margin: 60px;
    }
    #conclusion {
        font-size: 1.25rem;
        line-height: 2.rem;
        margin: 60px;
    }
}

@media (max-width: 900px) {
   #series-summary {
        font-size: 1rem;
        line-height: 1.75rem;
        margin: 40px;
    }
    #player-search-intro {
        font-size: 1rem;
        line-height: 1.75rem;
        margin: 40px;
    }
    #conclusion {
        font-size: 1rem;
        line-height: 1.75rem;
        margin: 40px;
    }
    
}

@media (max-width: 650px) {
    #series-summary {
        font-size: 0.75rem;
        line-height: 1.5rem;
        margin: 20px;
    }
    #player-search-intro {
        font-size: 0.75rem;
        line-height: 1.5rem;
        margin: 20px;
    }
    #conclusion {
        font-size: 0.75rem;
        line-height: 1.5rem;
        margin: 20px;
    }
}

@media (max-width: 500px) {
    #series-summary {
        font-size: 0.6rem;
        line-height: 1.25rem;
    }
    #player-search-intro {
        font-size: 0.6rem;
        line-height: 1.25rem;
    }
    #conclusion {
        font-size: 0.6rem;
        line-height: 1.25rem;
    }
}