* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #f2f2f2;
    color: black;
  }
  
  td:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  td:nth-child(even) {
    background-color: #ffffff;
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
  
  .tabs button {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .tabs button:hover {
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .tabs button.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
  }
  
  .box-score {
    width: 100%;
  }

  #container {
    display: flex;
    flex-direction: column;
  }

  #blurb-and-search {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
  