* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#gameblurb {
    padding: 16px;
    border: 4px solid #e92e2e;
    margin: 16px;
    font-family: "Rambla", sans-serif;
    background-color: rgb(247, 247, 247);
}