* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

h1 {
    text-align: center;
    font-family: "Racing Sans One", sans-serif;
    border-bottom: 2px solid #e92e2e;
    width: 24rem;
    padding-bottom: 3px;
    margin-bottom: 5px;
    color: #e92e2e;
}

h3 {
    font-family: "Racing Sans One", sans-serif;
    margin-bottom: 10px;
    color: #e92e2e;
}